:root {
    --green: #73BA3C;
    --orange: #F99415;
    --red: #E75A5A;
    --border: 1px solid rgba(151, 158, 162, 0.3);
    --radios: 6px;
    --border-color: rgba(151, 158, 162, 0.3);
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: "Roboto", sans-serif;
    background: #fbfbfb;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #2B2B2B;
    overflow-x: hidden;
}

html,
body {
    height: 100%;
}

button {
    background-color: transparent;
    padding: 0;
    border: none;
    font-family: inherit;
    color: inherit;
    display: inline-block;
}

input {
   font-family: inherit;
   color: inherit; 
}

input::placeholder {
   font-family: inherit;
   color: inherit; 
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.heading {
    margin-bottom: 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-bottom: 1rem;
}

.row .card {
    width: calc(960px / 3);
    flex-grow: 1;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    transition: .4s box-shadow;
    background: #fff;
    border-radius: var(--radios);
    border: var(--border);
}

.card.done {
    background: var(--green);
    color: #fff;
}

.card:hover {
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba(0,0,0,.22);
}

.progress {
    margin: 0 auto 1rem;
    background: #e8e8e3;
}

.progress-bar {
    position: relative;
    left: 0;
    right: 0;
    height: 30px;
    border: var(--border);
    border-radius: var(--radios);
    transition: width .3s ease-in-out;
}

.progress-value {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radios);
    transition: .5s width;
}

.modal {
    display: none;
}

.modal.open {
    display: block;
    position: fixed;
    top: 50px;
    transform: translateX(-50%);
    left: 50%;
    width: 500px;
    background: #fff;
    z-index: 200;
    padding: 1.5rem;
    border-radius: var(--radios);
}

.modal h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.modal p {
    margin-bottom: 1rem;
}

.modal hr {
    margin-bottom: 1rem;
    border: none;
    height: 2px;
    background: var(--border-color);
}

.modal.open + .modal-backdrop {
    display: block;
}

.modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
}

.empty {
    margin-bottom: 2rem;
    color: gray;
}

.form-control label {
    font-size: 14px;
    display: block;
    margin-bottom: .5rem;
}

.form-control input, .form-control textarea {
    display: block;
    width: 50%;
    border: var(--border);
    resize: none;
    padding: .75rem;
    margin-bottom: 1rem;
    border-radius: var(--radios);
    background: #f7f7f7;
    font-family: inherit;
    transition: .22s background;
    outline: none;
}

.form-control input:focus,
.form-control textarea:focus {
    background: #fff;
}

.form-control input.invalid,
.form-control textarea.invalid {
    animation: validate 2s;
}

@keyframes validate {
    0% {
        border: 1px solid var(--red);
    }
    
    50% {
        border: 1px solid var(--red);
    }

    100% {
        border: var(--border);
    }
}

.btn {
    padding: .7rem 2rem;
    border: 1px solid #ccc;
    background: #f7f7f7;
    border-radius: var(--radios);
    transition: .3S background;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    background: #fff;
    cursor: pointer;
}